.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clockWithTimeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inputBox {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    width: 100px;
}

.clockContainerClass {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

.clockHand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
    background-color: gray;
}

.secondHandClass {
    width: 6px;
    height: 80px;
}

.minuteHandClass {
    width: 8px;
    height: 60px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}
